<template name="loginForm">
<div class="ui fluid form segment">
{{#if currentUser}}
<p>You are currently logged in as: {{currentUser.username}}</p>
<input type="submit" id="logout-button" value="Log out" class="ui submit button" />
{{else}}
<form id="login-form" class="ui form">
  <div class="two fields">
    <div class="required field">
      <label>Username</label>
      <div class="ui icon input">
        <input type="text" placeholder="Username" id="login-username">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="required field">
      <label>Password</label>
      <div class="ui icon input">
        <input type="password" placeholder="Password" id="login-password">
        <i class="lock icon"></i>
      </div>
    </div>
  </div>
  <input type="submit" id="login-button" value="Sign in" class="ui submit button" />
</form>
{{/if}}
</div>
</template>