<template name="about">
	<div class="ui segment stackable padded grid">
		<div class="six wide column">
				<img class="ui centered large image" src="/images/museum-illustration.jpg" />
			
		</div>
		<div class="ten wide column">
			<h1>MULDR</h1>
			<h2>Museum and Library Digital Resources</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat urna vel velit commodo, sed lobortis metus rhoncus. Aliquam erat volutpat. Aliquam blandit lectus ac commodo hendrerit. Vestibulum ante nunc, ultricies vitae quam quis, maximus vehicula mi. In tortor neque, aliquet sit amet convallis quis,</p>
		      <p> viverra faucibus massa. Ut libero lorem, commodo a metus at, pharetra cursus sapien. Sed mattis aliquet lorem eu mollis. Aenean eu tristique elit. Duis nisi erat, ultrices a tincidunt id, tempor quis ipsum. Integer vel leo et sapien tempus condimentum.</p>
		</div>


<p>Morbi ultrices tellus nibh, at lobortis nisl dictum id. Proin vitae vestibulum eros. Integer tortor velit, elementum at feugiat eget, venenatis et lorem. Donec posuere aliquam tincidunt. Aenean molestie nec arcu sed accumsan. Quisque sollicitudin dictum interdum. Sed maximus, leo et auctor gravida, nisl nibh volutpat quam, sollicitudin sodales tortor mauris vel tortor. Etiam pharetra faucibus erat, sit amet varius velit fermentum sit amet. Ut eleifend orci vel arcu sodales fringilla. Suspendisse potenti. Donec id ultrices turpis. Maecenas mollis eros vitae ultricies faucibus. Aliquam bibendum, nibh vel mattis suscipit, leo ex ullamcorper felis, sed molestie ipsum nisi vitae nunc. Suspendisse vel orci id erat sodales aliquet a at tellus.</p>

<p>Cras ipsum leo, porta consectetur odio at, rutrum eleifend libero. Donec libero tortor, gravida vitae lacus eu, ullamcorper pretium metus. Nunc id gravida ex. Mauris at risus tincidunt, vulputate felis eu, posuere massa. Etiam vel tellus id sapien finibus malesuada vitae in nibh. Duis pellentesque mattis elit vel placerat. Sed consequat, nisl et volutpat convallis, risus tortor aliquet augue, quis congue libero leo et ante. Nullam at arcu sed magna imperdiet molestie et nec nisi. Nam dignissim, lorem id finibus consequat, nulla felis iaculis diam, eget condimentum enim leo in dolor. Sed porta arcu a tellus mattis egestas.		</p>
	</div>
</template>
