<template name="linkItem">
<div class="item">	
	<div class="ui attached segment">
		<div class="ui button tiny blue inverted right floated summary-toggle">
			<i class="content icon"></i> ABOUT
		</div>	
		<a href="{{url}}" class="ui medium header red">{{title}}</a>
	</div>
	<div class="ui attached segment link-summary">
		<p class="hidden">{{summary}}</p>
	</div>
	<div class="ui attached segment item-details">
		<div class="ui right floated">
			<i class="world icon"></i>{{domain}}
			{{#if this.submitted}}
				&nbsp;<i class="calendar icon"></i>{{prettifyDate}} 
			{{/if}}
			{{#if currentUser}}
				&nbsp;<a href="{{pathFor 'linkEdit'}}"><i class="write icon"></i>Edit</a>
			{{/if}}			
		</div>
		<div class="ui label">
			<i class="file icon"></i> {{type}}
		</div>						
		{{#each tags}}
			<div class="ui tag label" href="#">{{this}}</div>
		{{/each}} 		
	</div>
</div>
</template>