<template name="linkSubmit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls input-group">
          <div class="input-group-addon">http://</div>
          <input name="url" id="url" type="text" value="" placeholder="Your URL" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="tags">Tags</label>
      <select multiple class="form-control chosen-select" placeholder="Choose tags" style="width:100%;" id="tags" name="tags">
        {{#each tags}}
          <option value="{{title}}">{{title}}</option>          
        {{/each}} 
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="type">Type</label>
      <div class="controls">
          <select class="form-control" placeholder="Choose type" id="tags" name="tags">
            {{#each types}}
              <option value="{{title}}">{{title}}</option>          
            {{/each}}             
          </select>
      </div>
    </div>    

    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
