<template name="linkItem">
<div class="item">	
	<div class="ui top attached segment">
		<div class="ui button tiny basic right floated summary-toggle">
			<i class="content icon"></i> Summary
		</div>	
		<a href="{{url}}" class="ui medium header blue">{{title}}</a>
		<br />{{domain}}
	</div>
	<div class="ui attached segment link-summary">
		<p class="hidden">{{summary}}</p>
	</div>
	<div class="ui bottom attached segment">
		<div class="ui right floated">
			<a href="{{pathFor 'linkEdit'}}"><i class="write icon"></i></a>
			{{#if this.submitted}}
				<i class="calendar icon"></i>{{prettifyDate}}
			{{/if}}
		</div>
		<div class="ui label">
			<i class="file icon"></i> {{type}}
		</div>						
		{{#each tags}}
			<a class="tag-badge ui tag label" href="#">{{this}}</a>
		{{/each}} 		
	</div>
</div>
</template>