.ui.label.ribbon {
	text-transform: uppercase;
}

#main-content {
	// background-color: #fff;
	min-height: 400px;
	padding-top: 70px;
}

#main-nav{
	border-radius: 0px;
	font-family: 'hermit';
}

#footer-divider {
	padding-top: 20px;
	margin-top: 60px;
}

.item-details {
	color: #b1b1b1;
}

.link-summary {
	font-size: 1.2em;
}