.ui.label.ribbon {
	text-transform: uppercase;
}

#main-content {
	background-color: #fff;
	min-height: 400px;
}

#main-nav{
	border-radius: 0px;
	font-family: 'hermit';
}

#footer {
	background-color: #ffffff;
}