<template name="filters">

<div class="ui secondary menu">
  <div class="item">
    <div class="ui searchable floating dropdown labeled icon button" tabindex="0">
      <i class="tags icon"></i>
      <span class="text">Filter by tag</span>
      <div class="menu tag-filter" tabindex="-1">        <div class="item">
          <a href="#">All</a>
        </div>    
        {{#each tags}}
          <div class="item">
            <a href="#">{{title}}</a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="right menu">
    <div class="ui item">
      {{#each types}}
        <label>
          <input class="type-checkbox" type="checkbox" checked="{{isChecked}}" value="{{title}}">
            {{title}}
          </label>
      {{/each}}
    </div>
  </div>
</div>





</template>