<template name="filters">
<div class="ui attached segment red">
  <div class="ui secondary menu">
      <div class="item">
        <strong>Filter:</strong>
      </div>     
      <div class="browse item">
        <i class="dropdown icon"></i>
        Tags
      </div> 
      <div class="ui popup">
        {{#each tags}}
          <div class="item">
            <div class="ui checkbox">
              <input type="checkbox" class="tag-checkbox" value="{{title}}">
              <label>{{title}}</label>
            </div>
          </div>
        {{/each}}
      </div>       
      <div class="browse item">
        <i class="dropdown icon"></i>
        Type
      </div> 
      <div class="ui popup">
        {{#each types}}
          <div class="item">
            <div class="ui checkbox">
              <input type="checkbox" class="type-checkbox" value="{{title}}">
              <label>{{title}}</label>
            </div>
          </div>
        {{/each}}
      </div>   
    </div>
</div>
<div class="ui attached segment">
<strong>Tags:</strong> {{#each currentTags}}
 {{title}}
{{/each}} <br />
<strong>Types:</strong> {{#each currentTypes}}
  {{title}}
{{/each}}
</div>
</template>